@import "tailwindcss";

@theme {
  --color-primary: #00d991;
  --color-dark: #171923;
  --color-light: #fff;
  --color-body: #1d1e28;

  --darkMode: "class";
}

@utility container {
  @apply p-[1.25rem] mx-auto;
}

button {
  cursor: pointer;
}

.dark {
  @apply bg-[#171923] text-white;
}
